<ion-view view-title="Bio" class="light-bg">
  <ion-content class="light-bg">

    <div class="login-content">

      <!-- Logo -->
      <div class="padding text-center">
        <div class="logo balanced-bg">
          <i class="light ion-android-restaurant"></i>
        </div>
        <h2 class="balanced">
          Cloud Café<br>
          Baker
        </h2>
      </div>

        
        <div class="item item-text-wrap">
             Welcome aboard! Give your bakery an awesome name! Do note that this name will be permanent!
        </div>
       
      
      <div>Upload a photo here</div>
      <div class="list">
          
        <label class="item item-input item-floating-label">
          <span class="input-label">Bakery Name</span>
          <input type="text" placeholder="Bakery Name" required>
        </label>

      </div>

      <div class="padding-top">
        <button class="button button-block button-balanced" ui-sref="location">
          Next
        </button>
      </div>

    </div>

  </ion-content>
</ion-view>

