
<ion-view view-title="Change Payment Details" class="has-footer-buttons">

<ion-content class="stable-bg">
    
     <div class="list">
        <label class="item item-input item-floating-label">
          <span class="input-label">Password</span>
          <input type="password" placeholder="Password" required>
        </label>
        
        <label class="item item-input item-floating-label">
          <span class="input-label">New Bank Account Number</span>
          <input type="text" placeholder="New Bank Account Number" required>
        </label>
     </div> 
     
     <button class="button button-block button-balanced">
        Save Changes
     </button>
</ion-content>
</ion-view>