<ion-view view-title="FirstPayment" class="light-bg">
  <ion-content class="light-bg">

    <div class="login-content">

      <!-- Logo -->
      <div class="padding text-center">
        <div class="logo balanced-bg">
          <i class="light ion-android-restaurant"></i>
        </div>
        <h2 class="balanced">
          Cloud Café<br>
          Baker
        </h2>
      </div>

        <div class="">
        <div class="item item-text-wrap">
             We will make bank transfer to this account on a monthly basis.
             Please ensure you have keyed in the correct bank account number
        </div>
        </div>
      <!-- Location form -->
      <div class="list">

        <label class="item item-input item-stacked-label">
          <span class="input-label">Bank account number</span>
          <input type="tel" placeholder="e.g. 120-45674-7" required>
        </label>

      </div>

      <div class="padding-top">
        <button class="button button-block button-balanced" ui-sref="whyrubaking">
          Next
        </button>
      </div>

    </div>

  </ion-content>
</ion-view>

