<ion-view view-title="Invitation" class="light-bg">
  <ion-content class="light-bg">

    <div class="login-content">

      <!-- Logo -->
      <div class="padding text-center">
        <div class="logo balanced-bg">
          <i class="light ion-android-restaurant"></i>
        </div>
        <h2 class="balanced">
          Cloud Café<br>
          Baker
        </h2>
      </div>

      <!-- Login form -->
      <div class="list">

        <label class="item item-input item-floating-label">
          <span class="input-label">Name</span>
          <input type="text" placeholder="Name" required>
        </label>

        <label class="item item-input item-floating-label">
          <span class="input-label">Email</span>
          <input type="email" placeholder="Email" required>
        </label>

      </div>

      <div class="padding-top">
        <button class="button button-block button-balanced" ui-sref="signupthanks">
          Email me!
        </button>
      </div>

    </div>

  </ion-content>
</ion-view>

