<ion-view view-title="Location" class="light-bg">
  <ion-content class="light-bg">

    <div class="login-content">

      <!-- Logo -->
      <div class="padding text-center">
        <div class="logo balanced-bg">
          <i class="light ion-android-restaurant"></i>
        </div>
        <h2 class="balanced">
          Cloud Café<br>
          Baker
        </h2>
      </div>

        <div class="">
        <div class="item item-text-wrap">
            Delivery will be covered by our team/riders because we believe that our bakers should spend their time crafting amazing dishes, not running deliveries.
        </div>
        </div>
      <!-- Location form -->
      <div class="list">

        <label class="item item-input item-stacked-label">
          <span class="input-label">Bakery Address</span>
          <input type="text">
        </label>

      </div>

      <div class="padding-top">
        <button class="button button-block button-balanced" ui-sref="category">
          Activate Delivery
        </button>
      </div>

    </div>

  </ion-content>
</ion-view>

