<ion-view view-title="Post">


  <ion-content>
      
          
          
      <div class="list">
            <label class="item item-input item-stacked-label">
                <span class="input-label">Food Name</span>
                <input type="text" placeholder="e.g. Matcha Strawberries" required>
            </label>
            
            <label class="item item-input item-stacked-label">
                <span class="input-label">Description</span>
                <input type="text" placeholder="e.g. are they organic? matcha from kyoto?" required>
            </label>
            
           
        <button class="button button-block button-balanced" ui-sref="post2">
        Next
        </button>
  </ion-content>
</ion-view>
