<ion-view view-title="Signup Thanks" class="light-bg">
  <ion-content class="light-bg">

    <div class="login-content">

      <!-- Logo -->
      <div class="padding text-center">
        <div class="logo balanced-bg">
          <i class="light ion-android-restaurant"></i>
        </div>
        <h2 class="balanced">
          Cloud Café<br>
          Baker
        </h2>
      </div>

      <!-- Login form -->
      <div>

        Success! We will get in contact with you soon! remember to check your spam/junk folder
        for cloudcafe@gmail.com!
      </div>

  </ion-content>
</ion-view>

