<ion-view view-title="Bio" class="light-bg">
  <ion-content class="light-bg">

    <div class="login-content">

      <!-- Logo -->
      <div class="padding text-center">
        <div class="logo balanced-bg">
          <i class="light ion-android-restaurant"></i>
        </div>
        <h2 class="balanced">
          Cloud Café<br>
          Baker
        </h2>
      </div>

    
        <div class="item item-text-wrap">
             Tell us more of yourself and your bakery! e.g. Is baking your hobby?
             How long have you been baking? What are your qualifications?
        </div>

      <div class="list">
          
        <label class="item item-input item-stacked-label">
          <span class="input-label">Tell us more about why you bake:)</span>
          <input type="text" placeholder="studying at culinary school, charity, hobby">
        </label>

      </div>

      <div class="padding-top">
        <button class="button button-block button-balanced" ui-sref="post">
          Start Baking!
        </button>
      </div>

    </div>
    
    <div class="text-center">
          <a ui-sref="post" class="dark">Maybe <span class="balanced">later</span></a>
      </div>

  </ion-content>
</ion-view>

