<!--
  This template loads for the 'offers' state (app.js)
  items is a $scope variable on OfferCtrl (controllers.js)
  OffersCtrl pulls data from Items service (service.js)
  The Items service returns array of items data
-->
<ion-view view-title="Orders" class="offer-page has-footer-buttons">
    <ion-content style="background-image:url(img/backgrounds/baker_login_screen.png); background-size:100%;" ng-controller="ActiveCtrl">

        
        <div class="card" style="opacity: 0.95;" ng-repeat="SingleItem in products.items">
      <a class="item item-thumbnail-left item-icon-right" style="opacity:0.90;" >
        <img ng-src="{{SingleItem.img1}}" width="100%" height="100%">
        <h2>{{SingleItem.foodName}}</h2>
        <p>
            Baking Capacity: {{SingleItem.maxQuantity}}
        </p>

      <button class="button button-small button-calm" ng-click="alterQuantity(SingleItem.id,SingleItem.maxQuantity -1)">
                    -
                </button>

                <button class="button button-small button-calm" ng-click="alterQuantity(SingleItem.id,SingleItem.maxQuantity + 1)">
                    +
                 </button>
                 <button class="button button-small button-assertive" ng-click="alterQuantity(SingleItem.id,SingleItem.maxQuantity - 999999)">
                    Remove from menu
                 </button>

      <a class="item item-icon half" style="float:right;" ng-click="changeItem(SingleItem)">
        <span style="color:green;">
        <i class="icon ion-ios-cart"></i>
      View Orders</span>
      </a>

      <a class="item item-icon half" style="float:left;">
        <span style="color:red;">
        <i class="icon ion-ios-telephone"></i>
      Show Options</span>
      </a>

    </div>

    <div class="endTag" style="color: white;">
      <div class="text-center">
        <p><br> All orders displayed<br>
        </p>
      </div>
    </div>
    
    </ion-content>
</ion-view>