<ion-view view-title="Login" class="light-bg" ng-controller="HideSideBarOnThisView" hide-nav-bar="true">
    
    
    
    
    
  <ion-content overflow-scroll = "false" style="background-image:url(../img/backgrounds/baker_login_screen.png); background-size:100%;">
    <div ng-controller="LoginBaker">
        
        <div class="item item-image login-logo" style="position:relative;">
            <img src="img/backgrounds/logo_white.png">
      </div>
      
            <div ng-class="class">
          <div class="card">      
            <form name="signin" ng-submit="TryLogin()">
            <div class="list list-inset">
            <label class="item item-input">
                <input type="text" placeholder="Email" required>
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Password" required>
            </label>
            </div>
            
            <button class="button button-block button-balanced" type="submit">
            Sign In
            </button>
            
            <div class="text-center">
                <a class="dark">New here? <span class="balanced" ng-click="changeClass()">Register</span></a>
            </div>
            
            </form>
            </div>

        </div>
            <!--<div ng-class="class">
                <div class="card">      
                    <form name="loginForm" ng-submit="TryLogin()">
                        <div class="list list-inset">
                            <label class="item item-input">
                                <input name="email" type="email" placeholder="Email" ng-model="email" required>
                            </label>
                            
                            <div ng-messages="loginForm.email.$error" role="alert" ng-if="loginForm.email.$touched">
                                <div ng-message="required">The email field is required!</div>
                                <div ng-message="email">Your email address is invalid!</div>
                            </div>
                            
                            <label class="item item-input">
                               <input name="password" type="password" placeholder="Password" ng-model="password" required>
                            </label>
                            
                            <div ng-messages="loginForm.password.$error" role="alert" ng-if="loginForm.password.$touched">
                                <div ng-message="required">Password field is empty!</div>
                            </div>
                            {{wrongPasswordMessage}}
                        </div>
                        
                        <button class="button button-block button-balanced" type="submit" >
                        SIGN IN
                        </button>
                        
                        <div class="text-center">
                            <a class="dark">New here? <span class="balanced" ng-click="changeClass()">Register</span></a>
                        </div>
                    </form>
                </div>
          </div>-->
            
            <div ng-class="class2" ng-if="isRegisterVisible">
          <div class="card">
            <form name="signin" ng-submit="TryLogin()">
            <div class="list list-inset">
            <label class="item item-input">
                <input type="text" placeholder="Invitation Code" required>
            </label>
            <label class="item item-input">
                <input type="email" placeholder="Email" required>
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Password" required>
            </label>
            </div>
            <button class="button button-block button-balanced" type="submit" ng-click="changeClass4()">
            Register
            </button>
            
            <div class="text-center">
                <a class="dark">Get an <span class="balanced" ng-click="changeClass2()">invitation code</span></a>
            </div>
            
            </form>
            </div>
          </div>
          
          <!--registration route-->
          
          <div ng-class="class5" ng-if="isBakerybioVisible">
          <div class="card">
            <form name="signin" ng-submit="TryLogin()">
                
                <div class="item item-text-wrap">
                    Welcome aboard! Give your bakery an awesome name! Do note that this name will be permanent!
                </div>
                
                <div>
                        <img ng-show="user.bakeryImage !== undefined" ng-src="{{user.bakeryImage}}">
                        <img ng-show="user.bakeryImage === undefined" ng-src="http://placehold.it/100x100">
                        <button class="button" ng-click="takePicture('user.bakeryImage')">Home Photo</button>
                </div>
      
                <div class="list list-inset">
                    
                    <label class="item item-input">
                        <input type="text" placeholder="Bakery Name" required>
                    </label>
                    
                </div>

            <div class="padding-top">
                <button class="button button-block button-assertive" ng-click="SaveBioUI(); changeClass5()">
                Next
                </button>
            </div>
            
            </form>
            </div>
          </div>
          
          
          <div ng-class="class6" ng-if="isBakerylocationVisible">
          <div class="card">
            <form name="signin" ng-submit="TryLogin()">
                
                <div class="list list-inset">
                    
                    <label class="item item-input">
                        <input type="text" placeholder="Bakery Address" required>
                    </label>
                    <label class="item item-input">
                        <input type="tel" placeholder="Postal Code" required>
                    </label>
                    
                </div>

            <div class="padding-top">
                <button class="button button-block button-assertive" ng-click="SaveBioUI();changeClass6()">
                Next
                </button>
            </div>
            
            </form>
            </div>
          </div>
          
          <div ng-class="class7" ng-if="isBakeryaccountVisible">
          <div class="card">
            <form name="signin" ng-submit="TryLogin()">
                
                <div class="list list-inset">
                    
                    <label class="item item-input">
                        <input type="tel" placeholder="Bank Account Number" required>
                    </label>
                    
                </div>

            <div class="padding-top">
                <button class="button button-block button-assertive" ng-click="SaveBioUI();changeClass7()">
                Next
                </button>
            </div>
            
            </form>
            </div>
          </div>
          
          <div ng-class="class8" ng-if="isBakeryreasonVisible">
          <div class="card">
            <form name="signin" ng-submit="TryLogin()">
                
                <div class="text-center">
                    <br><br>
                    Tell us how your bakery started and why you are baking!
                    <br><br>
                </div>
                
                <div class="list list-inset">
                    
                    <label class="item item-input">
                        <input type="text" placeholder="Bakery Bio" required>
                    </label>
                    
                </div>
                
                <!--at this point redirect to post.html-->

            <div class="padding-top">
                <button class="button button-block button-assertive">
                Start Baking
                </button>
            </div>
            
            </form>
            </div>
          </div>
          
          
          
          <!--invitation route-->
          
          <div ng-class="class3" ng-if="isInvitationVisible">
          <div class="card">
            <form name="signin" ng-submit="TryLogin()">
            <div class="list list-inset">
            <label class="item item-input">
                <input type="text" placeholder="Email" required>
            </label>
            
            </div>
            <button class="button button-block button-balanced" type="submit" ng-click="changeClass3()">
            Email me
            </button>
            
            </form>
            </div>
          </div>
          
          <div ng-class="class4" ng-if="isCheckemailVisible">
          <div class="card">
              <div class="text-center">
                  <br><br>
            Please check your email for our invitation!
                  <br><br><br>
              </div>
            </div>
          </div>
          
          
            
      <!-- Logo -->
      

        <!--<flippy
            class="fancy"
            flip-duration="800"
            timing-function="ease-in-out">

            <flippy-front>
            <div class="card cardlogin">-->
                <!--<form name="loginForm" ng-submit="TryLogin()">
                    <div class="list">
                        <label class="item item-input item-floating-label">
                            <span class="input-label">Email</span>
                            <input name="email" type="email" placeholder="Email" ng-model="email" required>
                        </label>
                        
                        <div ng-messages="loginForm.email.$error" role="alert" ng-if="loginForm.email.$touched">
                            
                            <div ng-message="required">The email field is required!</div>
                            
                            <div ng-message="email">Your email address is invalid!</div>
                        </div>
                        
                        <label class="item item-input item-floating-label">
                            <span class="input-label">Password</span>
                            <input name="password" type="password" placeholder="Password" ng-model="password" required>
                        </label>
                        
                        <div ng-messages="loginForm.password.$error" role="alert" ng-if="loginForm.password.$touched">
                            
                            <div ng-message="required">Password field is empty!</div>
                        </div>
                    </div>
                    
                    {{wrongPasswordMessage}}

                    <p class="text-right balanced">Forgot Password?</p>

                    <div>
                        <button class="button button-block button-assertive" type="submit">
                            SIGN IN
                        </button>
                    </div>
            
                    <div class="text-center">
                        <a class="dark">New here? <span class="balanced" ng-click="flip()">Register</span></a>
                    </div>
                </form>-->
        <!--</div>     
                
            </flippy-front>

            <flippy-back>
                    <div class="card cardlogin">-->
                        
                        
                        
                        <!--back of card main page-->
                            <!--<div >
                                
                        
                                <div class="list" >
                                    
                                    <div class="text-center">
                                    <p>Due to quality control efforts...</p>
                                </div>
                
                                <label class="item item-input item-floating-label">
                                <span class="input-label">Invitation Code</span>
                                <input type="text" placeholder="Invitation Code" ng-model="user.invitationCode" required>
                                </label>

                                <label class="item item-input item-floating-label">
                                <span class="input-label">Email</span>
                                <input type="email" placeholder="Email" ng-model="user.email" required>
                                </label>
                                
                                <label class="item item-input item-floating-label">
                                <span class="input-label">Password</span>
                                <input type="password" placeholder="Password" ng-model="user.password" required>
                                </label>

                                <div class="padding-top">
                                    <button class="button button-block button-assertive" ng-click="changeClass4()">
                                    SIGN UP
                                    </button>
                                </div>

                                    <div class="text-center">
                                        
                                            <a class="dark">
                                                Request an <span ng-click="changeClass();changeClass2()" class="balanced">Invitation</span></a>
                                        </div>


                                </div>
              
                                
                                             
                                </div>-->
                                        
                               <!--This is invitation page-->
                               <!--<div>
                                   
                                   <div>
                                       Say some stuff here...
                                   </div>
                                   
                               <div class="list list-inset">

                                <label class="item item-input item-floating-label">
                                <span class="input-label">Name</span>
                                <input type="text" placeholder="Name" required>
                                </label>

                                <label class="item item-input item-floating-label">
                                <span class="input-label">Email</span>
                                <input type="email" placeholder="Email" required>
                                </label>

                                <div class="padding-top">
                                    <button class="button button-block button-assertive" ng-click="changeClass2();changeClass3()">
                                    Email me!
                                    </button>
                                </div>

                                </div>

                                
                               </div>       -->
                            
                            <!--end of div    -->
                            
                            <!--start of signupthanks-->
                            <!--<div >
                                   
                                   <div>
                                        Success! We will get in contact with you soon! remember to check your spam/junk folder
                                        for cloudcafe@gmail.com!
                                    </div>
                                   
                               </div>-->
                            <!--end of signupthanks-->
                            
                            <!--start of baker registration, input name and photo of bakery-->
                            <!--<div >
                                
                            <div class="item item-text-wrap" style="width:98%; margin-top:-25%">
                                    Welcome aboard! Give your bakery an awesome name! Do note that this name will be permanent!
                            </div>
                            
                            <div style="margin-top: -10%;">
                                    <img ng-show="user.bakeryImage !== undefined" ng-src="{{user.bakeryImage}}">
                                    <img ng-show="user.bakeryImage === undefined" ng-src="http://placehold.it/100x100">
                                    <button class="button" ng-click="takePicture('user.bakeryImage')">Home Photo</button>
                            </div>
                            
                            <div class="list">
                                
                                <label class="item item-input item-floating-label">
                                <span class="input-label">Bakery Name</span>
                                <input type="text" placeholder="Bakery Name" ng-model="user.bakeryName" required>
                                </label>

                            </div>

                            <div class="padding-top">
                                <button class="button button-block button-assertive" ng-click="SaveBioUI();changeClass5()">
                                Next
                                </button>
                            </div>
                            
                            </div>-->
                            <!--this is end of baker registration-->
                            
                            <!--start of baker location-->
                            <!--<div ng-class="class5">
                                <div class="list">

                                <label class="item item-input item-floating-label">
                                <span class="input-label">Bakery Address</span>
                                <input type="text" placeholder="Bakery Address" ng-model="user.bakeryAddress" required>
                                </label>
                                
                                <label class="item item-input item-floating-label">
                                <span class="input-label">Postal Code</span>
                                <input type="tel" placeholder="Postal Code" ng-model="user.bakeryPostalCode" required>
                                </label>

                            </div>

                            <div class="padding-top">
                                <button class="button button-block button-assertive" ng-click="SaveLocationUI();changeClass6()">
                                Next
                                </button>
                            </div>
                            </div>-->
                            <!--end of baker location-->
                            
                            <!--start of baker bank account-->
                            <!--<div ng-class="class6">
                                <div class="item item-text-wrap">
                                        We will make bank transfer to this account on a monthly basis.
                                        Please ensure you have keyed in the correct bank account number
                                    </div>
                                    
                                
                                <div class="list">

                                    <label class="item item-input item-floating-label">
                                    <span class="input-label">Bank account number</span>
                                    <input type="tel" placeholder="Bank Account Number" ng-model="user.bankAccountNumber" required>
                                    </label>

                                </div>

                                <div class="padding-top">
                                    <button class="button button-block button-assertive" ng-click="SaveFirstPaymentUI();changeClass7()">
                                    Next
                                    </button>
                                </div>
                            </div>-->
                            <!--end of baker bank account-->
                            
                            <!--start of baker bio-->
                            <!--<div ng-class="class7">
                                <div class="item item-text-wrap">
                                        Tell us more of yourself and your bakery! e.g. Is baking your hobby?
                                        How long have you been baking? What are your qualifications?
                                    </div>

                                <div class="list">
                                    
                                    <label class="item item-input item-floating-label">
                                    <span class="input-label">Tell us more about why you bake:)</span>
                                    <input type="text" placeholder="Tell us more about your bakery:)" ng-model="user.description">
                                    </label>

                                </div>

                                <div class="padding-top" ng-controller="FirebaseRegistration">
                                    <button class="button button-block button-assertive" ui-sref="post" ng-click="SaveWhyrubakingUI(); RegisterToFirebase(); changeClass8()">
                                    Start Baking!
                                    </button>
                                </div>
                            </div>-->
                            <!--end of baker bio-->
                    <!--</div>
            </flippy-back>

        </flippy>-->
    </div>

  </ion-content>
</ion-view>
