<ion-view view-title="Payment">

  <ion-content class="light-bg">
      
      <!--<a class="item item-icon-left item-icon-right" ui-sref="editpayment">
    <i class="icon ion-unlocked"></i>
    Change Payment Details
    <i class="icon ion-chevron-right"></i>
  </a>-->
      
      <div class="card">
        <div class="item item-divider">
            March
        </div>
        <div class="item item-text-wrap">
            <div class="row">
            <div class="col col-40">Item</div>
            <div class="col">Price</div>
            <div class="col">Orders</div>
            <div class="col">Total</div>
            </div>
            
            <div class="row">
            <div class="col col-40">Sakura Macarons</div>
            <div class="col">$10.00</div>
            <div class="col">x 4</div>
            <div class="col">$40.00</div>
            </div> 
            
            <div class="row">
            <div class="col col-40">Sakura Macarons</div>
            <div class="col">$10.00</div>
            <div class="col">x 4</div>
            <div class="col">$40.00</div>
            </div>   
              
        </div>
        <div class="item item-divider item-assertive">
            Current Period $40.00
        </div>
        </div>
      
      <div class="card">
        <div class="item item-divider">
            February
        </div>
        <div class="item item-text-wrap">
            <div class="row">
            <div class="col col-40">Item</div>
            <div class="col">Price</div>
            <div class="col">Orders</div>
            <div class="col">Total</div>
            </div>
            
            <div class="row">
            <div class="col col-40">Pancakes</div>
            <div class="col">$4.00</div>
            <div class="col">x 1</div>
            <div class="col">$4.00</div>
            </div> 
        </div>
        <div class="item item-divider item-energized">
            Transacting $4.00
        </div>
        </div>
        
        <div class="card">
        <div class="item item-divider">
            January
        </div>
        <div class="item item-text-wrap">
            <div class="row">
            <div class="col col-40">Item</div>
            <div class="col">Price</div>
            <div class="col">Orders</div>
            <div class="col">Total</div>
            </div>
            
            <div class="row">
            <div class="col col-40">Matcha Strawberries</div>
            <div class="col">$10.00</div>
            <div class="col">x 2</div>
            <div class="col">$20.00</div>
            </div> 
        </div>
        <div class="item item-divider item-balanced">
            Paid $20.00 (claim ID:1234567890)
        </div>
        </div>
  </ion-content>
</ion-view>
