<ion-view view-title="For home bakers" ng-controller="DeletePreviousNavigation">
    <ion-content>
        <div class="list" ng-controller="AddNewFood">
            {{newFood}}
            <label class="item item-input item-stacked-label">
                <span class="input-label">End date</span>
                <input type="date" ng-model="newFood.endDate" placeholder="orders must be placed before 2359hrs of the selected date" required >
            </label>

            <label class="item item-input item-stacked-label">
                <span class="input-label">Maximum Quantity from now till end date</span>
                <input type="tel" ng-model="newFood.maxQuantity" placeholder="e.g. 20" required>
            </label>
            <button class="button button-block button-assertive" ui-sref="active" ng-click="test(); AddFood()">
            Next
            </button>
        </div>
    </ion-content>
</ion-view>