<ion-view view-title="Images of Food" class="stable-bg">
  <ion-content>
          <div class="" ng-controller="AddNewFood">
              {{newFood}}
            <img ng-show="img1URI !== undefined" ng-src="{{img1URI}}">
            <img ng-show="img1URI === undefined" ng-src="http://placehold.it/100x100">
            <button class="button" ng-click="takePicture(0,'img1URI')">Image 1</button>
            <br>
            <img ng-show="img2URI !== undefined" ng-src="{{img2URI}}">
            <img ng-show="img2URI === undefined" ng-src="http://placehold.it/100x100">
            <button class="button" ng-click="takePicture(1,'img2URI')">Image 2</button>
            <br>
            <img ng-show="img3URI !== undefined" ng-src="{{img3URI}}">
            <img ng-show="img3URI === undefined" ng-src="http://placehold.it/100x100">
            <button class="button" ng-click="takePicture(2, 'img3URI')">Image 3</button>
            <br>
            <img ng-show="img4URI !== undefined" ng-src="{{img4URI}}">
            <img ng-show="img4URI === undefined" ng-src="http://placehold.it/100x100">
            <button class="button" ng-click="takePicture(3, 'img4URI')">Image 4</button>
        </div>
          
      
        
        <button class="button button-block button-assertive" ui-sref="post3">
        Next
        </button>
  </ion-content>
</ion-view>
