<ion-view view-title="Images">


  <ion-content>
      
          <div class="" ng-controller="AddNewFood">
            <img ng-show="img1URI !== undefined" ng-src="{{img1URI}}">
            <img ng-show="img1URI === undefined" ng-src="http://placehold.it/100x100">
            <button class="button" ng-click="takePicture('img1URI')">Image 1</button>
            
            <img ng-show="img2URI !== undefined" ng-src="{{img2URI}}">
            <img ng-show="img2URI === undefined" ng-src="http://placehold.it/100x100">
            <button class="button" ng-click="takePicture('img2URI')">Image 2</button>
            
            <img ng-show="img3URI !== undefined" ng-src="{{img3URI}}">
            <img ng-show="img3URI === undefined" ng-src="http://placehold.it/100x100">
            <button class="button" ng-click="takePicture('img3URI')">Image 3</button>
            
            <img ng-show="img4URI !== undefined" ng-src="{{img4URI}}">
            <img ng-show="img4URI === undefined" ng-src="http://placehold.it/100x100">
            <button class="button" ng-click="takePicture('img4URI')">Image 4</button>
        </div>
          
      
        
        <button class="button button-block button-assertive button-bottom" ui-sref="post3">
        Next
        </button>
  </ion-content>
</ion-view>
