<ion-view view-title="For home bakers" ng-controller="NavHistoryModifier" class="stable-bg">
    <ion-content>
        <div class="list list-inset" ng-controller="AddNewFood">
            {{newFood}}
            <label class="item item-input">
                
                <input type="date" ng-model="newFood.endDate" placeholder="End Date" required >
            </label>

            <label class="item item-input">
               
                <input type="tel" ng-model="newFood.maxQuantity" placeholder="Maximum Quantity" required>
            </label>
            <button class="button button-block button-assertive" ui-sref="active" ng-click="NextViewIsNavRoot(); AddFood()">
            Next
            </button>
        </div>
    </ion-content>
</ion-view>